@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Roihuvuorenti 7 A 6<br />
    00820 Helsinki<br />
    <abbr title="Phone">GSM:</abbr>
    +358405915859
</address>

<address>
    <strong>email</strong> <a href="mailto:yrjo.hatakka@gmail.com">yrjo.hatakka@gmail.com</a><br />
</address>
