@{
    ViewData["Title"] = "Index";
}
@model List<VertoExcercise.POCO.WikiGeoSearch>
<div id="content"> 
     
        <h3>Home</h3> 
     
          
    <table>
        <th>Title</th><th>PageId</th>
        @foreach (var geosearch in Model)
        {
            <tr>
                <td>@geosearch.Title</td>
                <td>@geosearch.Pageid</td>
            </tr>
        }
    </table> 
          
</div>